{% extends "base.html" %}
{% block title %}ATM{% endblock %}
{% block content %}

<script>
  editor.setReadOnly(true);
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/chrome");
  editor.session.setMode("ace/mode/cta");
  document.getElementById('editor').style.fontSize='20px'; 
</script>


<div id="editor" style="height: 500px; width: 1000px">

  {%for i in range(0, len)%} 
  
    {{src[i]}}
{%endfor%} 

</div>

<script>
  editor.setReadOnly(true);
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/chrome");
  editor.session.setMode("ace/mode/cta");
  document.getElementById('editor').style.fontSize='20px'; 
</script>

{% endblock %}
