<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <title>Base</title>
    <style type="text/css" media="screen">
      #editor { 
          position: relative;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
      }
  </style>
</head>
<body>
  <div class="navbar">
    <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('article')}}">Get Article</a>
    <a href="{{url_for('grammar')}}">Grammar</a>
    <div class="dropdown">
      <button class="dropbtn">Sample Scripts
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{url_for('atm')}}">ATM</a>
        <a href="{{url_for('fisher')}}">Fisher Mutual Exclusion</a>
        <a href="{{url_for('ford')}}">Ford Credit Portal</a>
        <a href="{{url_for('ooi')}}">OOI Word Counting</a>
        <a href="{{url_for('task')}}">Scheduled Task Protocol</a>
        <a href="{{url_for('smtp')}}">SMTP Client</a>
      </div>
    </div> 
  </div>
{% block content %}{% endblock %}

</body>
</html>
