<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <div class="dropdown">
          <button class="dropbtn">Dropdown 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="Sample Scripts">
            <a href="{{ url_for('ATM'}}">ATM</a>
            <a href="#">Ford Web-Portal</a>
            <a href="#">SMTP Client</a>
          </div>
        </div> 
      </div>
</body>
</html>
