<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <title>Document</title>
</head>
<body>
  <div class="navbar">
    <a href="{{url_for('home')}}">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Sample Scripts
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{url_for('atm')}}">ATM</a>
        <a href="{{url_for('fisher')}}">Fisher Mutual Exclusion</a>
        <a href="{{url_for('ford')}}">Ford Credit Portal</a>
        <a href="{{url_for('ooi')}}">OOI Word Counting</a>
        <a href="{{url_for('task')}}">Scheduled Task Protocol</a>
        <a href="{{url_for('smtp')}}">SMTP Client</a>
      </div>
    </div> 
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
