{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
   <body>
      <h2> Welcome to the CTA Refinement Website </h2>
      <br>
      <br>
      <ul>
        <h2><li> Example Scripts </li></h2>
      </ul>
      <br>
      <br>
      <h2> Refiner  </h2>
      <form action="#" method="POST">
         <label for="script"> CTA Refinement Script </label>
         <br>
         <input type="textarea" name="script" style="resize:none">
         <br>
         <input type="submit" value="Refine">
      </form
   </body>
   {% endblock %}





