<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Home </title>
      <h2> Welcome to the CTA Refinement Website </h2>
      <br>
      <br>
   </head>
   <body>
      <ul>
        <h2><li> Example Scripts </li></h2>
      </ul>
      <br>
      <br>
      <h2> Refiner  </h2>
      <form action="#" method="POST">
         <label for="script"> CTA Refinement Script </label>
         <br>
         <input type="textarea" name="script" style="resize:none">
         <br>
         <input type="submit" value="Refine">
      </form
   </body>
</html>



