body {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin-top: 80px;
  padding-left:0;
}

.topnav {
  overflow: hidden;
  background-color: rgb(64, 62, 57);
  z-index: 999999;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.topnav a {
  float: left;
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 999999;
}


.topnav h2 {
  float: left;
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  z-index: 999999;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 999999;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 999999;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(14, 5, 82);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 999999;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#outputBox {
  border: 2px solid black;
  border-radius: 12px;
  height: 300px;
  margin: 10px;
  padding: 13px;
  width: 250px;
}

.warning {
  border-radius:6px;
  border-color: rgb(161, 0, 0);
  background-color: rgb(250, 133, 122);
  color: rgb(161, 0, 0);
  padding: 20px;
}
#outputText {
  resize: none;
  width:100%;
}
